[Desktop Entry]
Version=1.0
Name=Pomodoro
Comment=Script que oferece o método pomodoro de forma simples
Exec=/opt/pomodoro/pomodoro.sh
Icon=/opt/pomodoro/pomodoro.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
